/**
 * The profile section is inspired by the Academic theme https://sourcethemes.com/academic/
 */ 
.profile img {
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   -o-border-radius: 50%;

   width: 75%;
   height: 75%;
}

@media only screen and (max-width: 1000px) {
   .profile img {
      width: 50%;
      height: 50%;
   }
}

.profile .nectar_icon {
  transition: all .2s ease-in-out; 
  padding: 0!important;
  margin: 0px!important;
}

.profile .nectar_icon i {
  font-size: 2em!important;
}

.profile .nectar_icon:hover {
   transform: scale(1.3); 
}

.social-icons-container .vc_column-inner .wpb_wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.social-icons-container .vc_column-inner .wpb_wrapper >div {
   margin-bottom: 0; /* I have no clue why this is necessary but I'm getting too much bottom margin without it */
}

/** My name and my workplace styling */
.bio h2 {
   font-weight: 400;
}

.bio p {
  font-weight: 350;
  font-family: CooperHewitt;
}
