# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/*

# Include child theme in repo
!web/app/themes/salient-child

# Dotenv
.env
.env.*
!.env.example

# Secrets
auth.json

# Composer
/vendor

# WordPress
web/wp

# Logs
*.log

